.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  color: #fff;
}

.header h4 {
  font-size: 30px;
}

.header__form {
  display: grid;
  grid-template-areas:
    "formSearch formSearch"
    "formCategories formSorted";
  gap: 30px;
  justify-content: center;
}

.header__form .header__form_search {
  grid-area: formSearch;
  display: grid;
}

.header__form .header__form_categories {
  grid-area: formCategories;
  display: flex;
  align-items: baseline;
}

.header__form .header__form_sorted {
  grid-area: formSorted;
  display: flex;
  align-items: baseline;
}

.header__form .header__form_categories p {
  margin-right: 10px;
  width: max-content;
}

.header__form .header__form_sorted p {
  margin-right: 10px;
  width: max-content;
}

@media screen and (max-width: 500px) {
  .header__form {
    display: grid;
    grid-template-areas:
      "formSearch"
      "formCategories"
      "formSorted";
    gap: 0px;
    justify-items: center;
    margin-bottom: 10px;
  }

  .header__form_search > div {
    margin-bottom: 10px;
  }
}
